<div class="login-container">
    <h2>Welcome Back!</h2>
    <p>We're so excited to see you again!</p>
    <form action="/login" method="post">
        <div class="login-input-fields">
            <b>EMAIL</b>
            <input type="email" name="email">
            <b>PASSWORD</b>
            <input type="password" name="password">
        </div>

        <button type="submit" value="Login">Login</button>
    </form>
    <a href="/signup">Register an account</a>
</div>
